.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  background-color: white;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.logo-image {
  width: 15rem;
}
